RC_LOG_ENV=development
RC_LOG_DATABASE_URL=postgres://postgres:password@localhost:5432/rc-log
RC_LOG_HOST=127.0.0.1
RC_LOG_PORT=3000
RC_LOG_ASSET_PATH=../assets
RC_LOG_JWT_SECRET=super_secret_jwt_secret
RC_LOG_MODEL_CACHE_TTL_SECONDS=300
RC_LOG_MODEL_CACHE_SIZE=1024
RC_LOG_MANEUVER_CACHE_TTL_SECONDS=300
RC_LOG_MANEUVER_CACHE_SIZE=1024
RC_LOG_VARIATION_CACHE_TTL_SECONDS=300
RC_LOG_VARIATION_CACHE_SIZE=1024
RC_LOG_VIDEO_CACHE_TTL_SECONDS=300
RC_LOG_VIDEO_CACHE_SIZE=1024
RC_LOG_PHOTO_CACHE_TTL_SECONDS=300
RC_LOG_PHOTO_CACHE_SIZE=1024
